*,
::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 30rem;
  height: 30rem;
  background-color: #d0ebff;
  margin: 0 auto;
  font-family: sans-serif;
}

.section-barcode {
  width: 20rem;
  height: 31rem;
  background-color: #fff;
  margin: 14rem auto;
  border-radius: 1rem;
}

.barcode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.2rem;
}
.barcode__img {
  text-align: center;
}
.barcode__img-img {
  width: 18rem;
  margin-top: 1rem;
  border-radius: 1rem;
}
.barcode__heading {
  font-size: 1.4rem;
  color: #0e2f4f;
  text-align: center;
  line-height: 1.2;
}
.barcode__text {
  width: 16rem;
}
.barcode__text-p {
  font-size: 1rem;
  color: #868e96;
  text-align: center;
}

@media (max-width: 480px) {
  body {
    width: 20rem;
    height: 30rem;
    margin: 0 auto;
  }
  .section-barcode {
    margin: 14rem auto;
  }
}
@media (max-width: 375px) {
  body {
    width: 20rem;
    height: 30rem;
    margin: 0 auto;
  }
  .section-barcode {
    margin: 6rem auto;
  }
}