@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
$color-primary: hsl(300, 43%, 22%);
$color-primary-light: hsl(303, 10%, 53%);
$color-primary-lighter: hsl(300, 24%, 96%);
$color-secondary: hsl(333, 80%, 67%);
$color-white: hsl(0, 0%, 100%);
$color-blue: hsl(228, 45%, 44%);
$default-font-size: 1.5rem;
$desktop-size: 144rem;
$mobile-size: 37.5rem;

@mixin responsive {
  @media (max-width: 375px) {
    @content;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  box-shadow: border-box;
}

:root {
  font-size: 62.25%;
}

body {
  font-family: 'League Spartan', sans-serif;
  max-width: $desktop-size;
  font-size: $default-font-size;
}

.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: $color-blue;
  }
}

.container {
  width: 80%;
  margin: 15rem auto;
  @include responsive {
    margin: 5rem auto;
  }
  .section-product {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include responsive {
      width: 100%;
      flex-direction: column;
      text-align: center;
    }

    .product {
      width: 40%;
      @include responsive {
        width: 100%;
      }
      &__heading {
        font-size: 5rem;
        margin-bottom: 2rem;
        color: $color-primary;
        @include responsive {
          font-size: 4rem;
        }
      }

      &__text {
        font-size: $default-font-size;
        color: $color-primary-light;
        line-height: 1.4;
      }
    }
    .rating {
      width: 55%;
      @include responsive {
        width: 100%;
      }
      &__text {
        display: inline-block;
        font-size: $default-font-size;
        font-weight: bold;
        background-color: $color-primary-lighter;
        color: $color-primary;
        @include responsive {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }

        span {
          img {
            margin-right: 1rem;
          }
        }
      }
      &__text:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }

  .section-tesimonial {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 3rem;
    width: 80%;
    margin: 10rem auto;
    @include responsive {
      width: 100%;
      flex-direction: column;
      gap: 0;
      margin: 5rem auto;
    }

    .testimonial {
      padding: 2rem;
      position: relative;
      width: 25%;
      display: flex;
      flex-direction: column;
      background-color: $color-primary;
      border-radius: 0.34rem;
      gap: 2rem;
      @include responsive {
        width: 85%;
        margin: 2rem auto;
      }
      &__info {
        display: flex;
        align-items: center;
        justify-content: left;

        gap: 2rem;

        .heading-tertiary {
          font-size: 1.4rem;
          color: $color-white;
          display: flex;
          flex-direction: column;

          span {
            font-size: 1rem;
            margin-top: 0.6rem;
            color: $color-secondary;
          }
        }
      }
      &__img {
        width: 4rem;
        border-radius: 50%;
      }
      &__text {
        font-size: 1.3rem;
        text-align: left;
        color: $color-white;
        line-height: 1.2;
      }
    }
  }
}

.u-mg-left-sm {
  margin-left: 2rem;
  @include responsive {
    margin-left: 0;
  }
}
.u-mg-left-med {
  margin-left: 4rem;
  @include responsive {
    margin-left: 0;
  }
}
.u-mg-left-big {
  margin-left: 8rem;
  @include responsive {
    margin-left: 0;
  }
}

.u-pd-right-sm {
  padding: 1rem 2rem 1rem 1rem;
  @include responsive {
    padding: 1rem;
  }
}
.u-pd-right-med {
  padding: 1rem 4rem 1rem 1rem;
  @include responsive {
    padding: 1rem;
  }
}
.u-pd-right-big {
  padding: 1rem 8rem 1rem 1rem;
  @include responsive {
    padding: 1rem;
  }
}

.u-mg-bottom-med {
  margin-bottom: 4rem;
}
.u-mg-bottom-big {
  margin-bottom: 8rem;
}
