@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
$color-primary: hsl(300, 43%, 22%);
$color-primary-light: hsl(303, 10%, 53%);
$color-primary-lighter: hsl(300, 24%, 96%);
$color-secondary: hsl(333, 80%, 67%);
$color-white: hsl(0, 0%, 100%);
$color-blue: hsl(228, 45%, 44%);
$default-font-size: 1.5rem;
$desktop-size: 144rem;
$mobile-size: 37.5rem;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  box-shadow: border-box;
  background-color: orangered;
}

:root {
  font-size: 62.25%;
}

body {
  max-width: $desktop-size;
  font-size: $default-font-size;
  font-family: 'League Spartan', sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: $color-blue;
  }
}

.container {
  width: 80%;

  .section-product {
    width: 15rem;
  }
}
